body {            
    background-color: #f4f6f9;
}

.card {
    border-radius: 14px;
}

.status-badge {
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: 500;
    background-color: #ffd27d;
    color: #7a4a00;
    font-size: 14px;
}

.btn-lg {
    width: 200px;
}

textarea {
    resize: none;
}